{% extends 'phim_base.html' %}
{% load static %}

{% block title %}
    Diễn Viên
{% endblock title %}

{% block content %}

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Danh sách diễn viên</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'phim:home' %}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> Danh sách diễn viên</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- celebrity list section-->
<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<!-- <p class="pad-change">Found <span>1,608 celebrities</span> in total</p> -->
					<label>Sort by:</label>
					<select>
						<option value="popularity">Popularity Descending</option>
						<option value="popularity">Popularity Ascending</option>
						<option value="rating">Rating Descending</option>
						<option value="rating">Rating Ascending</option>
						<option value="date">Release date Descending</option>
						<option value="date">Release date Ascending</option>
					</select>
					<a href="#" class="list"><i class="ion-ios-list-outline active"></i></a>
					<a  href="#" class="grid"><i class="ion-grid "></i></a>
				</div>
				<div class="row">
                	{% for actor in actores %}
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="{{ actor.flyer.url }}" alt="" width="100" height="130">
							<div class="ceb-infor">
								<h2><a href="#">{{ actor.name }}</a></h2>
								<span>{{ actor.sex }}</span>
								<p>{{ actor.info }}</p>
							</div>
						</div>
				</div>
                	{% endfor %}
				</div>
				<div class="topbar-filter">
					{% if is_paginated %}

					<div class="pagination2">
						
						{% if page_obj.has_previous %}
							<a href="?page = 1">Trang đầu</a>
							<a href="?page ={{ page_obj.previous_page_number }}">Trang trước</a>
						{% endif %}

						{% for num in page_obj.paginator.page_range %}
							{% if page_obj.number == num %}
								<a href="?page={{ num }}">{{num}}</a>
							{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
								<a href="?page={{ num }}">{{num}}</a>
							{% endif %}
						{% endfor %}

						{% if page_obj.has_next %}
							<a href="?page ={{ page_obj.next_page_number }}">Trang sau</a>
							<a href="?page ={{ page_obj.paginator_page_number }}">Trang cuối</a>
						{% endif %}

					
					</div>
					{% endif %}
				</div>
			</div>
		
			<div class="col-md-3 col-xs-12 col-sm-12">
				<div class="sidebar">
						<div class="searh-form">
						<h4 class="sb-title">Search celebrity</h4>
						<form class="form-style-1 celebrity-form" action="#">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Celebrity name</label>
									<input type="text" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Celebrity Letter</label>
									<select>
									  <option value="range">A</option>
									  <option value="saab">B</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Category</label>
									<select>
									  <option value="range">Actress</option>
									  <option value="saab">Others</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Year of birth</label>
									<div class="row">
										<div class="col-md-6">
											<select>
											  <option value="range">1970</option>
											  <option value="number">Other</option>
											</select>
										</div>
										<div class="col-md-6">
											<select>
											  <option value="range">1990</option>
											  <option value="number">others</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
					
			</div>
		</div>
			
	</div>
</div>
{% endblock content %}
