{% extends 'phim_base.html' %}

{% block title %}
    Trang chủ
{% endblock title %}

<!--end of signup form popup-->


{% block content %}

<div class="slider movie-items">
	<div class="container">
		{% if movies %}
		<div class="row">
			<div class="social-link">
				<p>Follow us: </p>
				<a href="#"><i class="ion-social-facebook"></i></a>
				<a href="#"><i class="ion-social-twitter"></i></a>
				<a href="#"><i class="ion-social-googleplus"></i></a>
				<a href="#"><i class="ion-social-youtube"></i></a>
			</div>
	    	<div  class="slick-multiItemSlider">
			
				{% for movie in movies %}
	    		<div class="movie-item">
					
	    			<div class="mv-img">
	    				<a href="#"><img src="{{ movie.flyer.url}}" alt=""> </a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue" >
								<a href="#" tabindex="-1">{{ movie.status}}</a>
							</span>
	    				</div>
						<div class ="cate">
							<span class="green">
								<a href="#" tabindex="-1">View: {{ movie.views}}</a>
							</span>
						</div>
					
						<h6><a href="{{ movie.get_absolute_url }}">{{ movie.title| slice:":20"| slice:":20"}}</a></h6>
						<p><i class="ion-android-star"></i><span>{{ movie.rating}}</span> /10</p>

	    			</div>
				
	    		</div>
				{% endfor %}
			{% else %}
				<center>
					<h1>NOTHING</h1>
				</center>
			{% endif %}

</div>
<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">
				<div class="title-hd">
					<h2>Phim chiếu rạp</h2> 
					<a href="{% url 'phim:movie' %}" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a> 
				</div> 
				<div class="tabs">
					<ul class="tab-links">
						<li class="active"><a href="#tab1">#Trend</a></li>
						<li><a href="#tab2"> #Coming soon</a></li>
						<li><a href="#tab3">  #Top rated  </a></li>
						<li><a href="#tab4"> #Most reviewed</a></li>                        
					</ul>
				    <div class="tab-content">
				        <div id="tab1" class="tab active">
				            <div class="row">
				            	<div class="slick-multiItem">
									{% for movie in movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{{movie.flyer.url}}" alt="" width="185" height="284">
					            			</div> 
					            			<div class="hvr-inner">
					            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{{ movie.get_absolute_url }}">{{movie.title| slice:":15"}}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{movie.rating}}</span> /10</p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}
									
				            	</div>
				            </div>
				        </div>
				        <div id="tab2" class="tab">
				           <div class="row">
				            	<div class="slick-multiItem">
									{% for movie in movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{{ movie.flyer.url }}" alt="" width="185" height="284">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{{ movie.get_absolute_url }}">{{movie.title| slice:":20"}}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{movie.rating}}</span> /10</p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}
				            	</div>
				            </div>
				        </div>
				        <div id="tab3" class="tab">
				        	<div class="row">
				            	<div class="slick-multiItem">
									{% for movie in movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{{ movie.flyer.url }}" alt="" width="185" height="284">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{{ movie.get_absolute_url }}">{{movie.title| slice:":20"}}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{movie.rating}}</span> /10</p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}
				            	</div>
				            </div>
			       	 	</div>
			       	 	<div id="tab4" class="tab">
				        	<div class="row">
				            	<div class="slick-multiItem">
									{% for movie in movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{{ movie.flyer.url }}" alt="" width="185" height="284">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{{ movie.get_absolute_url }}">{{movie.title| slice:":20"}}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{movie.rating}}</span> /10</p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}
				            	</div>
				            </div>
			       	 	</div>
				    </div>
				</div>
				<div class="title-hd">
					<h2>Phim bộ</h2>
					<a href="{% url 'phim:movie' %}" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<ul class="tab-links-2">
						<li><a href="#tab21">#Trend</a></li>
						<li class="active"><a href="#tab22"> #Coming soon</a></li>
						<li><a href="#tab23">  #Top rated  </a></li>
						<li><a href="#tab24"> #Most reviewed</a></li>                        
					</ul>
				    <div class="tab-content">
				        <div id="tab21" class="tab">
				            <div class="row">
				            	<div class="slick-multiItem">
									{% for movie in movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{{ movie.flyer.url }}" alt="" width="185" height="284">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{{ movie.get_absolute_url }}">{{movie.title| slice:":15"}}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{movie.rating}}</span> /10</p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}
									
				            	</div>
				            </div>
				        </div>
				        <div id="tab22" class="tab active">
				           <div class="row">
				            	<div class="slick-multiItem">
									{% for movie in movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{{ movie.flyer.url }}" alt="" width="185" height="284">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{{ movie.get_absolute_url }}">{{movie.title| slice:":15"}}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{movie.rating}}</span> /10</p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}
				            	</div>
				            </div>
				        </div>
				        <div id="tab23" class="tab">
				        	<div class="row">
				            	<div class="slick-multiItem">
									{% for movie in movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{{ movie.flyer.url }}" alt="" width="185" height="284">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{{ movie.get_absolute_url }}">{{movie.title| slice:":15"}}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{movie.rating}}</span> /10</p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}
				            	</div>
				            </div>
			       	 	</div>
			       	 	 <div id="tab24" class="tab">
				        	<div class="row">
				            	<div class="slick-multiItem">
									{% for movie in movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{{ movie.flyer.url }}" alt="" width="185" height="284">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{{ movie.get_absolute_url }}">{{movie.title| slice:":15"}}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{movie.rating}}</span> /10</p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}

				            	</div>
				            </div>
			       	 	</div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="ads">
						{% for ads in adss %}
						<img src="{{ ads.img.url }}" alt="" width="336" height="296">

						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="trailers">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>PHIM CHIẾU RẠP</h2>
					<a href="{% url 'phim:movie' %}" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="videos">
				 	<div class="slider-for-2 video-ft">
						{% for movie in movies %}
				 		<div>
					    	<iframe class="item-video" src="#" data-src="{{movie.trailer}}"></iframe>
					    </div>
						{% endfor %}
	
					</div>
					<div class="slider-nav-2 thumb-ft">
						{% for movie in movies %}
						<div class="item">
							<div class="trailer-img">
								<img src="{{ movie.flyer.url }}"  alt="photo by Barn Images" width="4096" height="2737">
							</div>
							<div class="trailer-infor">
	                        	<h4 class="desc">{{movie.title| slice:":30"}}</h4>
	                        	<!-- <p>2:30</p> -->
	                        </div>
						</div>
						{% endfor %}

					</div>
				</div>   
			</div>
		</div>
	</div>
</div>
<!-- latest new v1 section-->
<div class="latestnew">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">
				<div class="ads">
					<img src="images/uploads/ads2.png" alt="" width="728" height="106">
				</div>
				
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="sb-facebook sb-it">
						<h4 class="sb-title">Find us on Facebook</h4>
						<iframe src="#" data-src="#" ></iframe>
					</div>
					<div class="sb-twitter sb-it">
						<h4 class="sb-title">Tweet to us</h4>
						<div class="slick-tw">
							<div class="tweet item" id=""><!-- Put your twiter id here -->
							</div>
							<div class="tweet item" id=""><!-- Put your 2nd twiter account id here -->
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}