{% extends 'phim_base.html' %}

{% block title %}
    Trang chủ
{% endblock title %}

<!--end of signup form popup-->


{% block content %}


<div class="slider movie-items">
	<div class="container">
		<h1 class="bd-hd" > PHIM ĐỀ CỬ </h1>
		<div class="row">
	    	<div  class="slick-multiItemSlider">
	    		{% for movie in movies %}
	    		<div class="movie-item">
					
	    			<div class="mv-img">
	    				<a href="#"><img src="{{ movie.flyer.url}}" alt=""> </a>
	    			</div> 
	    			<div class="title-in" style="text-align: center ;">
	    				<div class="cate">
	    					<span class="blue" >
								<a href="#" tabindex="-1">{{ movie.status}}</a>
							</span>
	    				</div>
						<div class ="cate">
							<span class="green">
								<a href="#" tabindex="-1">View: {{ movie.views}}</a>
							</span>

						</div>		
						<h6><a href="{{ movie.get_absolute_url }}">{{ movie.title| slice:":20"| slice:":20"}}</a></h6>
						<p><i class="ion-android-star"></i><span>{{ movie.rating}}</span> /10</p>

	    			</div>
				
	    		</div>
				{% endfor %}
	    	</div>
	    </div>
	</div>
</div>

<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="title-hd">
					<h2>Phim lẻ</h2>
					<a href="{% url 'phim:film' %}" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="flex-wrap-movielist mv-grid-fw">
					{% for movie in le_movies %}
						<div class="movie-item-style-2 movie-item-style-1">
							<img src="{{movie.flyer.url}}" alt="">
							<div class="hvr-inner">
	            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="#">{{movie.title| slice:":25"}}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{ movie.rating }}</span> </p>
							</div>
						</div>	
					{% endfor %}				
						
				</div>	
				<div class="title-hd">
					<h2>Phim bộ</h2>
					<a href="{% url 'phim:series' %}" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="flex-wrap-movielist mv-grid-fw">
					{% for movie in bo_movies %}
						<div class="movie-item-style-2 movie-item-style-1">
							<img src="{{movie.flyer.url}}" alt="">
							<div class="hvr-inner">
	            				<a  href="{{ movie.get_absolute_url }}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="#">{{movie.title| slice:":25"}}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{ movie.rating }}</span> </p>
							</div>
						</div>	
					{% endfor %}				
						
				</div>	
			</div>
		</div>
	</div>
</div>


{% endblock content %}